@import "colors.scss";

*,
*:before,
*:after {
  -moz-box-sizing:border-box;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  position: relative;
}

body {
  margin: 0;
  padding: 5px;
  position: relative;
  font-weight: lighter;
  font-family: 'Loraregular', sans, monospace;
  color: $cBlackLight;
  background-color: $cWhite;
}

::selection {
  color: $cBlack;
  background: $cPrimary;
  text-shadow: none;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  padding: 5px;

  a {
    display: block;
    color: $cBlackLight;
    opacity: 0.5;
    padding: 2.5px;
    text-decoration: none;

    &:hover,
    &:focus {
      opacity: 1;
      text-decoration: underline;
    }
  }
}

.header {
  text-align: center;

  h1,
  h2 {
    font-weight: lighter;
  }

  h1 {
    margin: 50px auto 15px;

    + p {
      margin-bottom: 35px;
    }
  }
}

dl {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 750px;
}

dt {
  margin-top: 50px;

  input,
  textarea {
    font-family: monospace;
    font-size: 1.1em;
    padding: 10px;
    color: $cBlack;
    border: 1px solid $cBlack;
    outline: none;
    width: 100%;
    background-color: $cGrey;

    &:hover,
    &:focus {
      cursor: pointer;
      color: $cPrimary;
      background-color: $cWhite;
    }
  }

  + dd {
    font-weight: bold;
    font-family: 'Lorarbold';
  }
}

dd {
  line-height: 200%;
}

pre,
code,
kbd {
  color: $cBlackLight;
  background-color: $cGrey;
}

pre,
code {
  padding: 5px 10px;
  font-family: monospace;
}

kbd {
  margin-right: 2.5px;
  margin-left: 2.5px;
  padding: 3px;
  color: darken($cGrey, 75%);
  border: 3px solid darken($cGrey, 15%);
  border-top: 2px solid darken($cGrey, 10%);
  border-bottom-color: darken($cGrey, 30%);
  border-radius: 5px;
  text-transform: uppercase;
  font-family: 'latobold';
  -webkit-transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition:    all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition:      all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
  transition:         all 0.1s cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    cursor: pointer;
  }

  &:active {
    padding: 2px;
    font-size: 0.8em;
    margin-left: 6px;
    margin-right: 7px;
    border-width: 2px;
  }

  &::selection {
    color: $cPrimary;
    background: transparent;
  }
}

.success {
  padding: 2.5px 5px;
  color: $cBlack;
  background-color: $cSuccess;
}

.warning {
  padding: 2.5px 5px;
  color: $cBlack;
  background-color: $cWarning;
}

.note {
  padding: 2.5px 5px;
  color: $cBlack;
  background-color: $cYellow;
}

.alert {
  padding: 2.5px 5px;
  color: $cBlack;
  background-color: $cAlert;
}
