$cWhite:        #FFFFFF;
$cGrey:         #F7F7F7;
$cGreyDark:     #5F5F5F;
$cBlack:        #171717;
$cBlackLight:   #272727;
$cRed:          #FF5254;
$cPurple:       #745cc4;
$cBlue:         #5CACC4;
$cGreen:        #8CD19D;
$cYellow:       #f4de7c;
$cOrange:       #FCB859;

$cPrimary:      $cOrange;
$cAccent:       $cBlue;
$cText:         $cBlack;
$cBackground:   $cGrey;

$cInfo:         $cBlue;
$cNote:         $cYellow;
$cAlert:        $cRed;
$cWarning:      $cOrange;
$cSuccess:      $cGreen;
