$cWhite:        #FFFFFF;
$cGrey:         #F7F7F7;
$cBlack:        #171717;
$cBlackLight:   #272727;
$cRed:          #FF1B1B;
$cPurple:       #711BFF;
$cBlue:         #11BBFF;
$cNavy:         #1177FF;
$cGreen:        #11FF71;
$cYellow:       #F7FF17;
$cOrange:       #FF711B;

$cPrimary:      $cOrange;
$cAccent:       $cBlue;
$cText:         $cBlack;
$cBackground:   $cGrey;

$cAlert:        $cRed;
$cWarning:      $cYellow;
$cSuccess:      $cGreen;