@import "../colors.scss";
@import "default.scss";

body {
  font-family: monospace;
  color: $cGreen;
  background-color: $cGrey;
}

::selection {
  color: $cWhite;
  background: $cGreen;
}

dt {
  input {
    font-family: monospace;
    color: $cGreen;
    border: none;
    background-color: $cBlack;

    &:hover,
    &:focus {
      color: $cGrey;
      background-color: $cBlack;
    }
  }
}

dd {
  color: $cGreyDark;
}