@import "../colors.scss";
@import "default.scss";

::selection {
  color: $cBlack;
  background: $cBlue;
}

dt {
  input {
    font-family: monospace;
    color: $cWhite;
    border: 1px solid $cGrey;
    background-color: $cBlue;

    &:hover,
    &:focus {
      color: $cBlue;
      border-color: $cBlue;
      background-color: $cWhite;
    }
  }
}